---
Checks: >
  -*,
  cppcoreguidelines-pro-type-static-cast-downcast,
  google-readability-casting,
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-type-traits,
  -modernize-use-auto,
  -modernize-use-override,
  -modernize-use-default-member-init,
  -modernize-use-transparent-functors,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  use-emplace,
  mpi-*,
  performance-*,
  -performance-avoid-endl,
  -performance-enum-size,
  -performance-inefficient-string-concatenation,
  -performance-no-automatic-move
